.login-wrapper {
  flex-direction: column;
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.login-input-wrapper {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: fit-content;
  border: 0.1px solid black;
  margin-top: 5rem;
  padding: 20px;
}

.button-error-wrapper {
  margin: 15px;
  flex-direction: row;
  display: flex;
}

.email-password-wrapper {
  flex-direction: row;
  display: flex;
}

.register-link-wrapper {
  flex-direction: row;
  display: flex;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
